@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
:root {
    --white : #ffffff;
    --light-white : #eeeeee;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
body {
    height: 100vh;
}
.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--light-white);
}
.logo-section {
    background-image: url('/img/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.logo {
    background-color: rgba(0, 0, 0, 0.4);
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50%;
}
.logo img {
    width: 15%;
}
.logo h1 {
    font-family: 'norsebold', Roboto, sans-serif;
    font-size: 4rem;
    font-weight: bolder;
    color: var(--white);
}
.logo-section .attribute {
    margin-bottom: 12px;
    color: var(--white);
}
.logo-section .attribute a {
    color: inherit;
}
.form-section {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px;
    flex-wrap: wrap;
}
.text-container {
    font-size: 1.4rem;
    font-weight: 600;
    color: #2b2b2b;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 30px;
}
.form-container {
    width: 100%;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input-rows {
    padding: 40px;
    padding-left: 30px;
    background-color: var(--white);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    color: #2b2b2b;
    box-shadow: 1px 2px 5px gray;
}
.row {
    width: 100%;
    display: flex;
    gap: 3rem;
    align-items: stretch;
    width: 100%;
}
.col {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.col label {
    font-size: 0.8rem;
    word-spacing: 1px;
}
.col input {
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    appearance: none;
    width: 300px;
    height: 30px;
    outline: none;
    padding-left: 5px;
}
.col input:focus {
    border-color: blue;
}
.col input:invalid {
    border-color: red;
}
.submit-row {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    font-size: 1.1rem;
}
.submit-row button {
    padding: 12px 24px;
    border : none;
    background-color: #596D48;
    color: var(--white);
    font-weight: bolder;
    font-size: large;
    border-radius: 6px;
}
.submit-row a {
    color: #596D48;
    text-decoration: none;
    font-weight: bolder;
}